<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated spdmeasuringpoint -->
      <factory
            uri="http://palladiosimulator.org/PCM/SPDMeasuringPoint/1.0"
            class="org.palladiosimulator.spdmeasuringpoint.provider.SpdmeasuringpointItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated spdmeasuringpoint -->
      <extender
            uri="http://palladiosimulator.org/EDP2/MeasuringPoint/1.0"
            class="org.palladiosimulator.spdmeasuringpoint.provider.SpdmeasuringpointItemProviderAdapterFactory$MeasuringpointChildCreationExtender"/>
   </extension>

</plugin>
