<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://de/unistuttgart/sqa/slingshot/spd"
            class="de.unistuttgart.slingshot.spd.SpdPackage"
            genModel="model/SPD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://de/unistuttgart/sqa/slingshot/spd/targets"
            class="de.unistuttgart.slingshot.spd.targets.TargetsPackage"
            genModel="model/SPD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://de/unistuttgart/sqa/slingshot/spd/adjustments"
            class="de.unistuttgart.slingshot.spd.adjustments.AdjustmentsPackage"
            genModel="model/SPD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://de/unistuttgart/sqa/slingshot/spd/constraints"
            class="de.unistuttgart.slingshot.spd.constraints.ConstraintsPackage"
            genModel="model/SPD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://de/unistuttgart/sqa/slingshot/spd/constraints/policy"
            class="de.unistuttgart.slingshot.spd.constraints.policy.PolicyPackage"
            genModel="model/SPD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://de/unistuttgart/sqa/slingshot/spd/constraints/target"
            class="de.unistuttgart.slingshot.spd.constraints.target.TargetPackage"
            genModel="model/SPD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://de/unistuttgart/sqa/slingshot/spd/triggers"
            class="de.unistuttgart.slingshot.spd.triggers.TriggersPackage"
            genModel="model/SPD.genmodel"/>
   </extension>
</plugin>
