<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated semantic -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.semanticspd.presentation.SemanticspdModelWizardID"
            name="%_UI_SemanticspdModelWizard_label"
            class="org.palladiosimulator.semanticspd.presentation.SemanticspdModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SemanticspdModelFile.gif">
         <description>%_UI_SemanticspdModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated semantic -->
      <editor
            id="org.palladiosimulator.semanticspd.presentation.SemanticspdEditorID"
            name="%_UI_SemanticspdEditor_label"
            icon="icons/full/obj16/SemanticspdModelFile.gif"
            extensions="semanticspd"
            class="org.palladiosimulator.semanticspd.presentation.SemanticspdEditor"
            contributorClass="org.palladiosimulator.semanticspd.presentation.SemanticspdActionBarContributor">
      </editor>
   </extension>

</plugin>
