<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated reward -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.spdmodelreward.presentation.SpdmodelrewardModelWizardID"
            name="%_UI_SpdmodelrewardModelWizard_label"
            class="org.palladiosimulator.spdmodelreward.presentation.SpdmodelrewardModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SpdmodelrewardModelFile.gif">
         <description>%_UI_SpdmodelrewardModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated reward -->
      <editor
            id="org.palladiosimulator.spdmodelreward.presentation.SpdmodelrewardEditorID"
            name="%_UI_SpdmodelrewardEditor_label"
            icon="icons/full/obj16/SpdmodelrewardModelFile.gif"
            extensions="spdmodelreward"
            class="org.palladiosimulator.spdmodelreward.presentation.SpdmodelrewardEditor"
            contributorClass="org.palladiosimulator.spdmodelreward.presentation.SpdmodelrewardActionBarContributor">
      </editor>
   </extension>
</plugin>
