<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated stimulus -->
      <editor
            id="org.palladiosimulator.spd.stimulus.presentation.StimulusEditorID"
            name="%_UI_StimulusEditor_label"
            icon="icons/full/obj16/StimulusModelFile.gif"
            extensions="stimulus"
            class="org.palladiosimulator.spd.stimulus.presentation.StimulusEditor"
            contributorClass="org.palladiosimulator.spd.stimulus.presentation.StimulusActionBarContributor">
      </editor>
   </extension>

</plugin>
