<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated stimulus -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.spd.stimulus.presentation.StimulusModelWizardID"
            name="%_UI_StimulusModelWizard_label"
            class="org.palladiosimulator.spd.stimulus.presentation.StimulusModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StimulusModelFile.gif">
         <description>%_UI_StimulusModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated stimulus -->
      <editor
            id="org.palladiosimulator.spd.stimulus.presentation.StimulusEditorID"
            name="%_UI_StimulusEditor_label"
            icon="icons/full/obj16/StimulusModelFile.gif"
            extensions="stimulus"
            class="org.palladiosimulator.spd.stimulus.presentation.StimulusEditor"
            contributorClass="org.palladiosimulator.spd.stimulus.presentation.StimulusActionBarContributor">
      </editor>
   </extension>

</plugin>
