<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SPD -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.unistuttgart.sqa.slingshot.spd.presentation.SpdModelWizardID"
            name="%_UI_SpdModelWizard_label"
            class="de.unistuttgart.sqa.slingshot.spd.presentation.SpdModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SpdModelFile.gif">
         <description>%_UI_SpdModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SPD -->
      <editor
            id="de.unistuttgart.sqa.slingshot.spd.presentation.SpdEditorID"
            name="%_UI_SpdEditor_label"
            icon="icons/full/obj16/SpdModelFile.gif"
            extensions="spd"
            class="de.unistuttgart.sqa.slingshot.spd.presentation.SpdEditor"
            contributorClass="de.unistuttgart.sqa.slingshot.spd.presentation.SpdActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SPD -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.unistuttgart.sqa.slingshot.spd.targets.presentation.TargetsModelWizardID"
            name="%_UI_TargetsModelWizard_label"
            class="de.unistuttgart.sqa.slingshot.spd.targets.presentation.TargetsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TargetsModelFile.gif">
         <description>%_UI_TargetsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SPD -->
      <editor
            id="de.unistuttgart.sqa.slingshot.spd.targets.presentation.TargetsEditorID"
            name="%_UI_TargetsEditor_label"
            icon="icons/full/obj16/TargetsModelFile.gif"
            extensions="targets"
            class="de.unistuttgart.sqa.slingshot.spd.targets.presentation.TargetsEditor"
            contributorClass="de.unistuttgart.sqa.slingshot.spd.targets.presentation.TargetsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SPD -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.unistuttgart.sqa.slingshot.spd.adjustments.presentation.AdjustmentsModelWizardID"
            name="%_UI_AdjustmentsModelWizard_label"
            class="de.unistuttgart.sqa.slingshot.spd.adjustments.presentation.AdjustmentsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AdjustmentsModelFile.gif">
         <description>%_UI_AdjustmentsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SPD -->
      <editor
            id="de.unistuttgart.sqa.slingshot.spd.adjustments.presentation.AdjustmentsEditorID"
            name="%_UI_AdjustmentsEditor_label"
            icon="icons/full/obj16/AdjustmentsModelFile.gif"
            extensions="adjustments"
            class="de.unistuttgart.sqa.slingshot.spd.adjustments.presentation.AdjustmentsEditor"
            contributorClass="de.unistuttgart.sqa.slingshot.spd.adjustments.presentation.AdjustmentsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SPD -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.unistuttgart.sqa.slingshot.spd.constraints.presentation.ConstraintsModelWizardID"
            name="%_UI_ConstraintsModelWizard_label"
            class="de.unistuttgart.sqa.slingshot.spd.constraints.presentation.ConstraintsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ConstraintsModelFile.gif">
         <description>%_UI_ConstraintsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SPD -->
      <editor
            id="de.unistuttgart.sqa.slingshot.spd.constraints.presentation.ConstraintsEditorID"
            name="%_UI_ConstraintsEditor_label"
            icon="icons/full/obj16/ConstraintsModelFile.gif"
            extensions="constraints"
            class="de.unistuttgart.sqa.slingshot.spd.constraints.presentation.ConstraintsEditor"
            contributorClass="de.unistuttgart.sqa.slingshot.spd.constraints.presentation.ConstraintsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SPD -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.unistuttgart.sqa.slingshot.spd.triggers.presentation.TriggersModelWizardID"
            name="%_UI_TriggersModelWizard_label"
            class="de.unistuttgart.sqa.slingshot.spd.triggers.presentation.TriggersModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TriggersModelFile.gif">
         <description>%_UI_TriggersModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SPD -->
      <editor
            id="de.unistuttgart.sqa.slingshot.spd.triggers.presentation.TriggersEditorID"
            name="%_UI_TriggersEditor_label"
            icon="icons/full/obj16/TriggersModelFile.gif"
            extensions="triggers"
            class="de.unistuttgart.sqa.slingshot.spd.triggers.presentation.TriggersEditor"
            contributorClass="de.unistuttgart.sqa.slingshot.spd.triggers.presentation.TriggersActionBarContributor">
      </editor>
   </extension>

</plugin>
