<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated spdmeasuringpoint -->
      <package
            uri="http://palladiosimulator.org/PCM/SPDMeasuringPoint/1.0"
            class="org.palladiosimulator.spdmeasuringpoint.SpdmeasuringpointPackage"
            genModel="model/spdmeasuringpoint.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated spdmeasuringpoint -->
      <parser
            type="spdmeasuringpoint"
            class="org.palladiosimulator.spdmeasuringpoint.util.SpdmeasuringpointResourceFactoryImpl"/>
   </extension>
</plugin>
