<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright 2022 by palladiosimulator.org
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SPD -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.spd.presentation.SpdModelWizardID"
            name="%_UI_SpdModelWizard_label"
            class="org.palladiosimulator.spd.presentation.SpdModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SpdModelFile.gif">
         <description>%_UI_SpdModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SPD -->
      <editor
            id="org.palladiosimulator.spd.presentation.SpdEditorID"
            name="%_UI_SpdEditor_label"
            icon="icons/full/obj16/SpdModelFile.gif"
            extensions="spd"
            class="org.palladiosimulator.spd.presentation.SpdEditor"
            contributorClass="org.palladiosimulator.spd.presentation.SpdActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SPD -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.spd.targets.presentation.TargetsModelWizardID"
            name="%_UI_TargetsModelWizard_label"
            class="org.palladiosimulator.spd.targets.presentation.TargetsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TargetsModelFile.gif">
         <description>%_UI_TargetsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SPD -->
      <editor
            id="org.palladiosimulator.spd.targets.presentation.TargetsEditorID"
            name="%_UI_TargetsEditor_label"
            icon="icons/full/obj16/TargetsModelFile.gif"
            extensions="targets"
            class="org.palladiosimulator.spd.targets.presentation.TargetsEditor"
            contributorClass="org.palladiosimulator.spd.targets.presentation.TargetsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SPD -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.spd.adjustments.presentation.AdjustmentsModelWizardID"
            name="%_UI_AdjustmentsModelWizard_label"
            class="org.palladiosimulator.spd.adjustments.presentation.AdjustmentsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AdjustmentsModelFile.gif">
         <description>%_UI_AdjustmentsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SPD -->
      <editor
            id="org.palladiosimulator.spd.adjustments.presentation.AdjustmentsEditorID"
            name="%_UI_AdjustmentsEditor_label"
            icon="icons/full/obj16/AdjustmentsModelFile.gif"
            extensions="adjustments"
            class="org.palladiosimulator.spd.adjustments.presentation.AdjustmentsEditor"
            contributorClass="org.palladiosimulator.spd.adjustments.presentation.AdjustmentsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SPD -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.spd.constraints.policy.presentation.PolicyModelWizardID"
            name="%_UI_PolicyModelWizard_label"
            class="org.palladiosimulator.spd.constraints.policy.presentation.PolicyModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PolicyModelFile.gif">
         <description>%_UI_PolicyModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SPD -->
      <editor
            id="org.palladiosimulator.spd.constraints.policy.presentation.PolicyEditorID"
            name="%_UI_PolicyEditor_label"
            icon="icons/full/obj16/PolicyModelFile.gif"
            extensions="policy"
            class="org.palladiosimulator.spd.constraints.policy.presentation.PolicyEditor"
            contributorClass="org.palladiosimulator.spd.constraints.policy.presentation.PolicyActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SPD -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.spd.constraints.target.presentation.TargetModelWizardID"
            name="%_UI_TargetModelWizard_label"
            class="org.palladiosimulator.spd.constraints.target.presentation.TargetModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TargetModelFile.gif">
         <description>%_UI_TargetModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SPD -->
      <editor
            id="org.palladiosimulator.spd.constraints.target.presentation.TargetEditorID"
            name="%_UI_TargetEditor_label"
            icon="icons/full/obj16/TargetModelFile.gif"
            extensions="target"
            class="org.palladiosimulator.spd.constraints.target.presentation.TargetEditor"
            contributorClass="org.palladiosimulator.spd.constraints.target.presentation.TargetActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SPD -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.spd.triggers.presentation.TriggersModelWizardID"
            name="%_UI_TriggersModelWizard_label"
            class="org.palladiosimulator.spd.triggers.presentation.TriggersModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TriggersModelFile.gif">
         <description>%_UI_TriggersModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SPD -->
      <editor
            id="org.palladiosimulator.spd.triggers.presentation.TriggersEditorID"
            name="%_UI_TriggersEditor_label"
            icon="icons/full/obj16/TriggersModelFile.gif"
            extensions="triggers"
            class="org.palladiosimulator.spd.triggers.presentation.TriggersEditor"
            contributorClass="org.palladiosimulator.spd.triggers.presentation.TriggersActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SPD -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.spd.triggers.stimuli.presentation.StimuliModelWizardID"
            name="%_UI_StimuliModelWizard_label"
            class="org.palladiosimulator.spd.triggers.stimuli.presentation.StimuliModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StimuliModelFile.gif">
         <description>%_UI_StimuliModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SPD -->
      <editor
            id="org.palladiosimulator.spd.triggers.stimuli.presentation.StimuliEditorID"
            name="%_UI_StimuliEditor_label"
            icon="icons/full/obj16/StimuliModelFile.gif"
            extensions="stimuli"
            class="org.palladiosimulator.spd.triggers.stimuli.presentation.StimuliEditor"
            contributorClass="org.palladiosimulator.spd.triggers.stimuli.presentation.StimuliActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SPD -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.spd.triggers.expectations.presentation.ExpectationsModelWizardID"
            name="%_UI_ExpectationsModelWizard_label"
            class="org.palladiosimulator.spd.triggers.expectations.presentation.ExpectationsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ExpectationsModelFile.gif">
         <description>%_UI_ExpectationsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SPD -->
      <editor
            id="org.palladiosimulator.spd.triggers.expectations.presentation.ExpectationsEditorID"
            name="%_UI_ExpectationsEditor_label"
            icon="icons/full/obj16/ExpectationsModelFile.gif"
            extensions="expectations"
            class="org.palladiosimulator.spd.triggers.expectations.presentation.ExpectationsEditor"
            contributorClass="org.palladiosimulator.spd.triggers.expectations.presentation.ExpectationsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SPD -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.spd.models.presentation.ModelsModelWizardID"
            name="%_UI_ModelsModelWizard_label"
            class="org.palladiosimulator.spd.models.presentation.ModelsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ModelsModelFile.gif">
         <description>%_UI_ModelsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SPD -->
      <editor
            id="org.palladiosimulator.spd.models.presentation.ModelsEditorID"
            name="%_UI_ModelsEditor_label"
            icon="icons/full/obj16/ModelsModelFile.gif"
            extensions="models"
            class="org.palladiosimulator.spd.models.presentation.ModelsEditor"
            contributorClass="org.palladiosimulator.spd.models.presentation.ModelsActionBarContributor">
      </editor>
   </extension>

</plugin>
